<div id="hidden">

<h2>Список заказов:</h2>
<table class = 'table table-striped'>
<thead>
	<tr>
	<th>Название</th>
	<th>Цена</th>
	<th>Количество</th>
	</tr>
</thead>
<tbody>
	<% sum=0 %>
	<% cnt=0 %>

<% @orders.each do |order| %>
	<tr>
	<td><%= order[0].title %></td>
	<td><%= order[0].price %></td>
	<td><%= order[1] %></td>
	</tr>

	<% sum += order[0].price * order[1].to_i%>
	<% cnt += order[1].to_i%>


<% end%>

	<tr>
	<td>Итог:</td>
	<td><%= sum %></td>
	<td><%= cnt %></td>
	</tr>



</tbody>

</table>

<form action = "/place_orders" method = "POST" >
  <div class="form-group">
   <input name = "order[orders]" type = "hidden" value = "<%= @orders_input %>">
      <label>Имя</label>
    <input type="text" class="form-control" name="order[username]" placeholder="Введите ваше имя" >
  </div>
  <div class="form-group">
    <label>Телефон</label>
    <input type="text" class="form-control" name="order[phone]" placeholder="Ваш телефон" >
  </div>
  <div class="form-group">
    <label>Адрес доставки</label>
    <textarea  name="order[address]" type="text" class="form-control" placeholder="Введите адрес доставки" ></textarea>
  </div>

  <button type="submit" class="btn btn-success" >Заказать</button>
  <input type="button" class="btn btn-danger" value = "Отменить" onclick = "del_orders();">

</form>
</div>